:root {
    --primary-color : grey;
    --secondary-color: darkgray;
    --tertiary-color: #14213D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    color: gray;
    font-family: Jazz LET, fantasy;
    
   
}
html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    padding: 20px 35px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #FFF;
    margin: 0;
}

header a {
    color: #FFF;
    text-decoration: none;
}
header h1 a:hover {
color: #14213D;
text-shadow:
0 0 7px #fff,
0 0 10px #fff,
0 0 21px #fff,
0 0 42px #128,
0 0 82px #128,
0 0 92px #128,
0 0 102px #128,
0 0 151px #128;
}
header nav {
    margin: 7px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background-color: #14213D;
    color: #fff;
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: gray;
    width: 100%;
    padding: 14px 41px;
    display: flex;
    justify-content: center;
}
footer div {
    line-height: 1.5px;
    text-align: right;
}
footer a {
    color: white;
}
section {
    background-color: darkgray;
    display: block;
    margin-block:-7px;
}
img {
    display: block;
}
/* aside styles */


.hero {
    height: 300px;
    width: 100%;
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    border-top : 3px solid #14213D;
    border-bottom: 3px solid #14213D;
    
}
.hero h2 {
    color: darkgray;
    font-size: 30px;
    flex: 1 30%;
}


/* main styles */


.content {
    display: inline-block;
    margin : 0 auto;
    width: 100%;
    padding: 8px;


}
.about {
    padding: 22px;
    margin:26px;
    height: auto;
    width: auto;
    background-color: #14213D;
    overflow: auto;
    
}
.about h2 {
    text-align: center;
    font-size: 40px ;
    color: #FFF;
}
.about p {
    display: block;
    font-size: 29px;
    font-family: Jazz LET, fantasy;
    margin-left: 15px;
    text-align: justify;

    
}
.about img {
   display:block;
    max-width: 225px;
    float:left;
    margin: 0 auto;
    padding: 0 21px 0 20px;
}

.border {
    border-bottom:4px solid;
    border-color: #14213D;
    padding-bottom: 16px;
    margin: 0 auto 25px auto;
    width:45%;

}
 .row-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.row-column a {
    display: inline-block;
    
}

.row-column h2 {
    text-align: center;
    font-size: 40px ;
    color: #FFF;
}
.image {
    position: relative;
    width: 100%;
    margin:0;
    padding:0;
}
.image img {
    border: solid #14213D 3px;
    position: relative;
}

.center {
    display:block;
    width: 100%;
    object-fit: cover;

}
.image_overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image_overlay:hover {
    opacity: 1;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 10px 10px 0  #14213D;
}
.image_blur {
    backdrop-filter: blur(6px);
}
.overlay_title {
    font-size: 2rem;
    padding:0 30px;
}
/* .work img:hover  {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 10px 10px 5px  #14213D;
} */
.contact {
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
font-size: 30px;
color: #FFF;
}
.contact h2 {
    color:#FFF;
    font-size: 40px;
    padding: 20px;
}
.contact a {
    justify-content: space-between;
}
footer ul {
    display: flex;
    margin:0%;
    padding: 0 100px;
}
footer li {
   font-size: 26px;
}
footer ul li {
    list-style-type: none;
    padding: 0 20px;
}
footer ul li a {
    text-decoration: none;
}
/* Media Query */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .work {
        flex: 0 70% ;
    }
    .contact {
        flex: 0 70%;
    }
    .about p{
        font-size:22px;
        margin-right:70px;
    }
    section {
        padding: 30px 15px;
        margin-block: -7px;
    }
    
}
    @media screen and (max-width: 768px) {
        
        .content {
            justify-content: center;
            margin: auto;
            padding: 5%;
        }
        .about {
            padding:23px;
            margin: -28px;
        }
        .image img {
            width: 400px;
            height: auto;
            
        }
        .center {
            max-width: 155%;
            display: block;
            margin: 3px 18px -1px -17px;
        }
        .image_overlay{
            
        width: 111%;
        margin: 2px 5.5px 4px -34px;
        padding:auto;
        }
    }
    @media screen and (max-width: 575px) {
        footer {
            margin: auto;
        }
        
       
        .center {
            max-width: 155%;
            display: block;
            margin: 3px 18px -3px -50px;
        }
       .image_overlay {
           width: 155%;
           margin:7px -25px 23px -49px;
           
       }
    }